.idea/
projectName.iml
/*.classpath
/.classpath
/.springBeans
*.DS_Store
*.iml
/build
/local.properties
target/classes
target/generated-sources
target/generated-test-sources
target/maven-archiver
target/maven-archiver
target/maven-archiver
target/test-classes
