<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.timoney.swsad.mapper.MoneyMapper">

    <!--id对应接口中的方法，名字要一样，parameterType是方法的参数类型，
    resultType是查询返回的类型，需要注意的是，这里的SQL语句后面不能加分号，变量不能加引号-->
    <!--删除表-->
    <update id="moneyTableDrop" >
        drop table money_table
    </update>
    <!--初始化表-->
    <update id="moneyTableInit" >
        create table if not exists money_table
        (
            id          bigint(32) auto_increment
                primary key,
            userId      bigint(32),
            date        DATETIME   not null,
            info        VARCHAR(200),
            money       bigint(32) not null ,
            status      boolean not null
        )ENGINE=InnoDB DEFAULT CHARSET=utf8
    </update>

    <!--获取用户所有的交易记录,降序-->
    <select id="getAllRecordById" parameterType="int" resultType="MoneyRecord">
        select * from money_table
        where userId = #{userId}
        order by date desc
    </select>

</mapper>