<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.timoney.swsad.mapper.QuesFillUserMapper">

    <!--删除表-->
    <update id="quesFillUserTableInit" >
        drop table ques_fill_user_table
    </update>
    <!--初始化表-->
    <update id="quesFillUserTableDrop" >
        create table if not exists ques_fill_user_table
        (
            quesId      bigint(32)     primary key ,
            userId      bigint(32)     primary key
        )ENGINE=InnoDB DEFAULT CHARSET=utf8
    </update>
    <!--添加记录-->
    <insert id="insert" parameterType="xyz.timoney.swsad.bean.QuesFillUser" useGeneratedKeys="true" keyProperty="id">
        insert into user_table(quesId,
                               userId)
        values(#{quesId},#{userId})
    </insert>
    <!--删除记录-->
    <delete id="delete" parameterType="int" >
        delete from ques_fill_user_table
        where quesId = #{quesId} and userId = #{userId}
    </delete>
    <!--获取指定用户填写的所有问卷-->
    <select id="getAllFilled" parameterType="int">
        select quesId from ques_fill_user_table
        where userId = #{userId}
    </select>
    <!--获取指定问卷所有的填写者-->
    <select id="getAllFiller">
        select userId from ques_fill_user_table
        where quesId = #{quesId}
    </select>
</mapper>