<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.timoney.swsad.mapper.QuestionnaireMapper">




    <!--插入一个问卷-->
    <insert id="insert" parameterType="questionnaire">
        insert into quesTable (quesID, title, detail, publisher, reward, total, attend, startTime, endTime, command,status)
        values (${quesID},"${title}", "${detail}","${publisher}",${reward},${total},${attend},"${startTime}","${endTime}", "${command}","${status}")
    </insert>

    <!--获取问卷详情-->
    <select id="getQuesByID"  parameterType="int" resultType="questionnaire">
        select * from quesTable where quesID = #{quesID}
    </select>

    <!--Janking: 获取用户发布的所有问卷，降序，也就是时间最近排在最前面-->
    <select id="getAllPublished"  resultType="questionnaire">
        select * from quesTable where publisher = #{userId} order by startTime DESC
    </select>

    <!--获取问卷内容-->
    <select id="getQuesCont"  parameterType="int" resultType="String">
        select detail from quesTable where quesID = #{quesID}
    </select>


    <select id="getInfo"  parameterType="int" resultType="infos">
        select * from quesTable where quesID = #{quesID}
    </select>

    <!--获取所有正在进行的问卷-->
    <select id="getAllQues"  resultType="questionnaire">
        select * from quesTable where status = "not done"
    </select>

    <!--Janking: 获取用户发布的所有问卷-->
    <select id="getAllPublished"  resultType="questionnaire">
        select * from quesTable where publisher = #{userId}
    </select>

    <select id="getCount" resultType="int">
      select COUNT(*) from quesTable;
    </select>
</mapper>