<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.janking.swsad.Mapper.UserMapper">

    <!--id对应接口中的方法，名字要一样，parameterType是方法的参数类型，
    resultType是查询返回的类型，需要注意的是，这里的SQL语句后面不能加分号，变量不能加引号-->
    <!--删除表-->
    <update id="dropTable">
        drop table user_table;
    </update>
    <!--初始化表-->
    <update id="userTableInit" >
        create table if not exists user_table
        (
            id        bigint(32) auto_increment
                primary key,
            password  varchar(100) not null,
            email     varchar(40)  null,
            phone     varchar(40)  null,
            name      varchar(40)  null,
            studentId varchar(40)  null,
            grade     int          null,
            major     varchar(40)  null,
            gender    int          null,
            age       int          null,
            nickname  varchar(40)  null,
            constraint email unique (email),
            constraint name unique (name),
            constraint phone unique (phone)
        )ENGINE=InnoDB DEFAULT CHARSET=utf8;
    </update>
    <!--获取用户数量-->
    <select id="getCount" resultType="int">
      select COUNT(*) from user_table;
    </select>
    <!--插入用户-->
    <insert id="insert" parameterType="User">
        insert into user_table(id, phone,email, password, name, studentId, grade, major,gender, age, nickname)
        values(${id}, "${phone}", "${email}", "${password}", "${name}", "${studentId}", ${grade}, "${major}", ${gender},  ${age}, "${nickname}")
    </insert>
    <!--获取所有用户-->
    <select id="getUsers"  resultType="User">
        select * from user_table
    </select>
    <!--获取指定ID用户-->
    <select id="getById" parameterType="int" resultType="User">
        select * from user_table where id = #{id}
    </select>
    <!--获取指定手机号用户-->
    <select id="getByPhone" parameterType="String" resultType="User">
        select * from user_table where phone = #{phone}
    </select>
    <!--获取指定邮箱用户-->
    <select id="getByEmail" parameterType="String" resultType="User">
        select * from user_table where email = #{email}
    </select>
    <!--更新用户资料-->
    <update id="updateUser" parameterType="User">
        update user_table
        set password="${password}", email = "${email}", phone = "${phone}", name = "${name}", studentId = "${studentId}",
            grade = ${grade}, major = "{major}", gender =${gender}, age =${age}, nickname = "${nickname}"
        where id = ${id}
    </update>

    <!--危险操作-->
    <delete id="deleteAllUsers">
        delete from user_table
    </delete>
    <delete id="deleteUser" parameterType="int" >
        delete from user_table where id = #{id}
    </delete>

</mapper>