<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--这里是全局配置，具体的可以去查mybatis配置-->
    <settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="useGeneratedKeys" value="true" />
        <setting name="defaultExecutorType" value="REUSE" />
    </settings>
    <!--别名，就是将后面那一堆，用User代替-->
    <typeAliases>
        <typeAlias alias="User" type="xyz.timoney.swsad.bean.User"/>
        <typeAlias alias="questionnaire" type="xyz.timoney.swsad.bean.questionnaire"/>
    </typeAliases>
    <!--环境配置-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="jdbc"/>
            <!--连接数据库-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost/swsad"/>
                <property name="username" value="swsad"/>
                <property name="password" value="swsad"/>
            </dataSource>
        </environment>
    </environments>
    <!--这个就是指定映射的xml，mapper xml中的SQL查询 都要对应java接口类里面的方法-->
    <mappers>
        <mapper resource="mappers/userMapper.xml"/>
        <mapper resource="mappers/questionnaireMapper.xml"/>
    </mappers>
</configuration>